
html, body { 
  height: 100%; 
  width: 100%;
}

body {
  overflow-x: hidden !important;
  font-family: 'Jost', sans-serif;
  background-color: #F4F3EE;
  width: 100%; 

}

/*-- Navbar --*/

div {
  box-sizing: border-box;
  overflow-x: hidden !important;
  }


.navbar-links {
  text-decoration:none; 
  padding-right: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.navbar-links:hover {
  text-decoration: none; 
  opacity: 0.7;
}

.navbar {
  padding-top: 0;
  padding-left: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.special-link {
  border:  2px solid rgba(255, 255, 255, 0.5);
  color: #F4F3EE;
}

.special-link:hover {
  color: #212529 !important ;
  background-color:  rgba(255, 255, 255);
}


/*-- Landing Page --*/

.caption {
  width:100%;
  max-width:100%;
  position:absolute;
  top:60%;
  z-index:1;
  color:white;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing:0.6rem;
  text-shadow:0.1rem 0.1rem 0.8rem black;
  font-family: 'Roboto Condensed', sans-serif;

}

.caption h5 {
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-outline-light {
  border-width:medium;
  border-radius: 0;
  padding:0.6rem 1.3rem;
  font-size: 1.1rem;
}


.btn-secondary {
  border-width:medium;
  border-radius: 0;
  padding:0.6rem 1.3rem;
  font-size: 1.1rem;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/



.parallax {
  /* The image used */
  background-image: url("img/landing.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;   : FIXED BACKGROUND*/ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.list-inline-item:not(:last-child) {
  margin-top: 1.5rem;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}


.bg-dark {
  background-color: rgba(255, 255, 255, 0) !important;
}


.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}



a {
  font-family: 'Montserrat', sans-serif;
  color: white; 
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: underline; 
}


a:hover {
  color: white;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}


h1 {
  color: white; 
  font-family: 'EB Garamond', serif;
}

p {
  font-size: 1rem;
}

.album-bg {
  /* The image used */
  background-image: url("img/album-bg.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;   : FIXED BACKGROUND*/ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.songlink {
  text-align: center; 
  text-decoration:none;
  justify-content: center; 
}

.video-bg {
  height:100%;
  font-size:36px; 
  text-align: center; 
  padding-top:5rem; 
  padding-bottom:5rem;
}

.background-purple {
  background-color: #cbcad2;
  height: 100%; 
}

.music h1 {
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing:0.6rem;
  text-shadow:0.1rem 0.1rem 0.8rem black;
  padding-bottom: 0.5rem;
  font-family: 'EB Garamond', serif;

}

.btn-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
  text-decoration: none;
  border-radius: 0;
  font-size: 0.5rem;
}

.btn-dark:hover {
  color: #463F3A;
  background-color: #fff;
  border-color: #fff;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(70, 63, 58, 0.5);
}

.footer {
  background: #463F3A;
  padding-bottom: 1.3rem;
  padding-top:1.3rem; 
  width: 100%; 
  overflow-x: hidden !important;
}

.fa {
  padding-top: 1rem;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 1);
}

footer {
   overflow-x: hidden !important;
   width: auto; 
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}


